<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FoodTaxi{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    {% block head_extras %}{% endblock %}
</head>
<body>
    
    {% include '_partials/navbar.html' %}
    
    {% include '_partials/auth_modal.html' %}
    
    <main>
        {% block content %}
            {% endblock %}
    </main>
    
    {% include '_partials/footer.html' %}

    <script src="{{ url_for('static', filename='javascript/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/auth.js') }}"></script>
    {% block body_scripts %}{% endblock %}
</body>
</html>